<h1> INDEX <h1>

<% @todos.each do |todo| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text"><%= todo.description %></p>
        <p class="card-text"><%= todo.completed %></p>
        <%=link_to 'show', todo_path(todo), class: 'btn btn-primary' %>
        <%=link_to 'edit', edit_path(todo), class: 'btn btn-primary' %>
        </div>
    </div>
    <% end %>

    <%= link_to 'Nueva Tarea', todos_new_path %>